<!DOCTYPE html>

<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>FolkCorpus</title>
		<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" type="text/css"/>

	
	<script type="text/javascript">
$(document).ready(function() {
        $(['#POS', '#case', '#gender', '#number', '#other']).multiselect({
            buttonWidth: '160px'
        });
    });
</script>
<script type="text/javascript">
$(document).ready(function() {
        $(['#mainhero', '#lover', '#giver', '#helper', '#equal', '#enemy']).multiselect({
            buttonWidth: '300px'
        });
    });
</script>
<script type="text/javascript">
$(document).ready(function() {
        $(['#s', '#b', '#res']).multiselect({
            buttonWidth: '350px'
        });
    });
</script>


<!-- <script type="text/javascript"> -->

<!-- $(function() { -->
    
    <!-- $(['#mainhero', '#lover', '#giver', '#helper', '#equal', '#enemy', '#s1', '#s2', '#s3', '#s4', '#s5', '#res']).multiselect({ -->
        
        <!-- includeSelectAllOption: true -->
    <!-- }); -->
    
    <!-- $('#btnsubmit').click(function(){ -->
        
        <!-- alert($(['#mainhero', '#lover', '#giver', '#helper', '#equal', '#enemy', '#s1', '#s2', '#s3', '#s4', '#s5', '#res']).val()); -->
    <!-- }); -->
<!-- }); -->

<!-- </script> -->


</head>
    <body>
    <header class="main-header">
	  <div class="container">
	    <div class="header-top">
            <div class="promo-title">Folkcorpus</div>
			<p>Поиск по корпусу фольклорных текстов</p>
        </div>
	  </div>
	</header>

    <section class="exactsearch">
	  <div class="container">

	    <h2 class="exactsearch-title">Поиск точных форм</h2>
	  <form class="exactsearch-form" action="/result" method="post">

          <table class="exactsearch-table">
              <tr>
                  <td class="form-td">
                        <input type="text" id="exact" name="exact" placeholder="Введите текст">
                  </td>
                  <td class="form-td">
                      <input type="submit" class="btn btn-upper" value="Искать">
                  </td>
              </tr>
          </table>
      </div>
	</section>
    <section class="features">
	<!-- <form id="parameters" action='/result' method='get' > -->
	
	<div class="container">
	<div class="features">
		<h2 class="features-title">Грамматические категории<h2>
		<div class="features-item-tags">
			<h4 class="feature-header">Лемма</h4>
			<input type="text" id="lemma" name="lemma" placeholder="«бутара»">
		</div>
			<div class="features-item-tags">
				<h4 class="feature-header"> Часть речи </h4>
				<!-- <div> -->
				<!-- <input type="checkbox" id="POS" name="POS"> -->
      <!-- <label for="POS" value="NOUN">NOUN</label> -->
    <!-- </div> -->
	<!-- <div> -->
				<!-- <input type="checkbox" id="POS" name="POS"> -->
      <!-- <label for="POS" value="ADJF">ADJF</label> -->
    <!-- </div> -->

						<select name="POS" id="POS" multiple="multiple">
							<option name="POS" value="NOUN" type="checkbox"> NOUN </option>
							<option name="POS" value="ADJF" type="checkbox"> ADJF </option>
							<option name="POS" value="ADJS" type="checkbox"> ADJS </option>
							<option name="POS" value="COMP" type="checkbox"> COMP </option>
							<option name="POS" value="VERB" type="checkbox"> VERB </option>
							<option name="POS" value="INFN" type="checkbox"> INFN </option>
							<option name="POS" value="PRTF" type="checkbox"> PRTF </option>
							<option name="POS" value="PRTS" type="checkbox"> PRTS </option>
							<option name="POS" value="GRND" type="checkbox"> GRND </option>
							<option name="POS" value="NUMR" type="checkbox"> NUMR </option>
							<option name="POS" value="ADVB" type="checkbox"> ADVB </option>
							<option name="POS" value="NPRO" type="checkbox"> NPRO </option>
							<option name="POS" value="PRED" type="checkbox"> PRED </option>
							<option name="POS" value="PREP" type="checkbox"> PREP </option>
							<option name="POS" value="CONJ" type="checkbox"> CONJ </option>
							<option name="POS" value="PRCL" type="checkbox"> PRCL </option>
							<option name="POS" value="INTJ" type="checkbox"> INTJ </option>
						</select>		
			</div>								
			<div class="features-item-tags">
				<h4 class="feature-header"> Падеж </h4>
						<select name="case" id="case" multiple="multiple">
							<option name="case" value="nomn" type="checkbox"> nomn </option>
							<option name="case" value="gent" type="checkbox"> gent </option>
							<option name="case" value="datv" type="checkbox"> datv </option>
							<option name="case" value="accs" type="checkbox"> accs </option>
							<option name="case" value="ablt" type="checkbox"> ablt </option>
							<option name="case" value="loct" type="checkbox"> loct </option>
							<option name="case" value="voct" type="checkbox"> voct </option>
							<option name="case" value="gen2" type="checkbox"> gen2 </option>
							<option name="case" value="acc2" type="checkbox"> acc2 </option>
							<option name="case" value="loc2" type="checkbox"> loc2 </option>
						</select>		
			</div>	
			<div class="features-item-tags">
				<h4 class="feature-header"> Число </h4>
					<select name="number" id="number" multiple="multiple">
						<option name="number" value="sing" type="checkbox"> sing </option>
						<option name="number" value="plur" type="checkbox"> plur </option>
					</select>		
			</div>	
			<div class="features-item-tags">
				<h4 class="feature-header"> Род </h4>
					<select name="gender" id="gender" multiple="multiple">
						<option name="gender" value="masc" type="checkbox"> masc </option>
						<option name="gender" value="femn" type="checkbox"> femn </option>
						<option name="gender" value="neut" type="checkbox"> neut </option>
					</select>		
			</div>
			<div class="features-item-tags">
				<h4 class="feature-header"> Другое </h4>
					<select name="other" id="other" multiple="multiple">
						<option name="other" value="LATN" type="checkbox"> LATN </option>
						<option name="other" value="PNCT" type="checkbox"> PNCT </option>
						<option name="other" value="NUMB" type="checkbox"> NUMB </option>
						<option name="other" value="intg" type="checkbox"> intg </option>
						<option name="other" value="real" type="checkbox"> real </option>
						<option name="other" value="ROMN" type="checkbox"> ROMN </option>
						<option name="other" value="UNKN" type="checkbox"> UNKN </option>
					</select>		
			</div>
			</div>
		</div>

    <div class="container">
          <div class="features">
				<h2 class="features-title">Герои<h2>
					<div class="features-item">
							<h4 class="feature-header">Герой</h4>

							<select name="mainhero" id="mainhero" multiple="multiple">
							<option name="mainhero" value="hm" type="checkbox"> мужского пола </option>
							<option name="mainhero" value="hw" type="checkbox"> женского пола </option>
							<option name="mainhero" value="ha" type="checkbox"> животное </option>
							<option name="mainhero" value="hs" type="checkbox"> сверхъествественное существо </option>
							<option name="mainhero" value="hp" type="checkbox"> растение </option>
							<option name="mainhero" value="ht" type="checkbox"> предмет </option>
							</select>
					</div>
							<div class="features-item">
									<h4 class="feature-header">Возлюбленный</h4>
									<select name="lover" id="lover" multiple="multiple">
									<option name="partner" value="wm" type="checkbox"> мужского пола </option>
									<option name="partner" value="ww" type="checkbox"> женского пола </option>
									<option name="partner" value="wa" type="checkbox"> животное </option>
									<option name="partner" value="ws" type="checkbox"> сверхъествественное существо </option>
									<option name="partner" value="wp" type="checkbox"> растение </option>
									<option name="partner" value="wt" type="checkbox"> предмет </option>
									</select>
								</div>
							<div class="features-item">
							<h4 class="feature-header">Даритель</h4>
									<select name="giver" id="giver" multiple="multiple">
									<option name="giver" value="dm" type="checkbox"> мужского пола </option>
									<option name="giver" value="dw" type="checkbox"> женского пола </option>
									<option name="giver" value="da" type="checkbox"> животное </option>
									<option name="giver" value="ds" type="checkbox"> сверхъествественное существо </option>
									<option name="giver" value="dp" type="checkbox"> растение </option>
									<option name="giver" value="dt" type="checkbox"> предмет </option>
								</select>
								</div>
							<div class="features-item">
								<h4 class="feature-header">Помощник</h4>

									<select name="helper" id="helper" multiple="multiple">
									<option name="helper" value="pm" type="checkbox"> мужского пола </option>
									<option name="helper" value="pw" type="checkbox"> женского пола </option>
									<option name="helper" value="pa" type="checkbox"> животное </option>
									<option name="helper" value="ps" type="checkbox"> сверхъествественное существо </option>
									<option name="helper" value="pp" type="checkbox"> растение </option>
									<option name="helper" value="pt" type="checkbox"> предмет </option>
									</select>
								</div>
							<div class="features-item">
								<h4 class="feature-header">Ложный герой</h4>

									<select name="equal" id="equal" multiple="multiple">

									<option name="equal" value="fm" type="checkbox"> мужского пола </option>
									<option name="equal" value="fw" type="checkbox"> женского пола </option>
									<option name="equal" value="fa" type="checkbox"> животное </option>
									<option name="equal" value="fs" type="checkbox"> сверхъествественное существо </option>
									<option name="equal" value="fp" type="checkbox"> растение </option>
									<option name="equal" value="ft" type="checkbox"> предмет </option>
									</select>
								</div>
							<div class="features-item">

									<h4 class="feature-header">Вредитель</h4>

									<select name="enemy" id="enemy" multiple="multiple">
									<option name="enemy" value="vm" type="checkbox"> мужского пола </option>
									<option name="enemy" value="vw" type="checkbox"> женского пола </option>
									<option name="enemy" value="va" type="checkbox"> животное </option>
									<option name="enemy" value="vs" type="checkbox"> сверхъествественное существо </option>
									<option name="enemy" value="vp" type="checkbox"> растение </option>
									<option name="enemy" value="vt" type="checkbox"> предмет </option>
									<option name="enemy" value="vz" type="checkbox"> явление </option>
									</select>
								</div>
					</div>
</div>

<!-- конец первых фичей -->
<div class="container">

<div class="features">
	<h2 class="features-title">Сюжет</h2>
	<div class="features-item-sit">
			<h4 class="feature-header">Начальная ситуация </h4>
			<select name="s" id="s" multiple="multiple">
				<optgroup label="Богатство / бедность">
					<option value="+s1">Достаток, веселье, свобода</option>
					<option value="-s1">Бедность, война, лишения</option>
				</optgroup>
				<optgroup label="Здоровья / болезнь"></optgroup>
					<option value="+s2">Здоровье, молодость, счастье</option>
					<option value="-s2">Болезнь, старость, смерть</option>
				</optgroup>
				<optgroup label="Любовь"></optgroup>
					<option value="+s3">Счастливая любовь</option>
					<option value="-s3">Несчастливая любовь</option>
				</optgroup>
				<optgroup label="Семья и друзья"></optgroup>
					<option value="+s4">Хорошие отношения</option>
					<option value="-s4">Враждебные отношения</option>
				</optgroup>
			</select>
		</div>
		<div class="features-item-sit">
			<h4 class="feature-header"> Акция героя </h4>
			<select name="b" id="b" multiple="multiple">
			<option value="b1">тяга к свободе от чужих и господству над ними</option>
			<option value="b2">добывание каких-либо материальных благ</option>
			<option value="b3">желание равноправия и высокого статуса</option>
			<option value="b4">поиск невесты или жениха</option>
			<option value="b5">стремление к целостности рода или семьи</option>
			</select>
		</div>
		<div class="features-item-sit">
			<h4 class="feature-header"> Результат </h4>
			<select name="res" id="res" multiple="multiple">
				<option value="+r">Положительный итог</option>
				<option value="nr">Нейтральный итог</option>
				<option value="-r">Отрицательный итог</option>
			</select>
		</div>
	</div>
</div>

<!-- Конец вторых фичей -->

<div class="container">
<div class="features">
	<div class="features-item-meta">
			<h4 class="feature-header">Жанр</h4>
			<input type="text" id="genre" name="genre" placeholder="Например, «сказка»">
		</div>
		<div class="features-item-meta">
			<h4 class="feature-header"> Дополнительная информация </h4>
			<input type="text" id="info" name="info" placeholder="Например, «Усть-Орда»">
		</div>
</div>
</div>
<div class="container">
<div class="features">
	<input id="btnsubmit" type="submit" class="btn btn-lower" value="Искать">
</div>
</div>
<footer class="main-footer">
        <div class="container">
            <a href="/" class="btn btn-lower btn-return">Вернуться на главную</a>
        </div>
	</footer>

		</form>
</section>
    </body>
</html>
